<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Accord" version="3.8.0" targetFramework="net472" />
  <package id="Accord.Math" version="3.8.0" targetFramework="net472" />
  <package id="App.Metrics.Abstractions" version="4.3.0" targetFramework="net472" />
  <package id="CsvTextFieldParser" version="1.2.2" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml" version="3.2.0" targetFramework="net472" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.2.0" targetFramework="net472" />
  <package id="EPPlus" version="7.5.1" targetFramework="net472" />
  <package id="EPPlus.Interfaces" version="7.5.0" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="7.5.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.0.0" targetFramework="net472" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="3.0.1" targetFramework="net472" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NETFramework.ReferenceAssemblies.net472" version="1.0.2" targetFramework="net472" developmentDependency="true" />
  <package id="NLog" version="5.3.4" targetFramework="net472" />
  <package id="nspring" version="1.4.5304.31350" targetFramework="net472" />
  <package id="OfficeOpenXml.Core.ExcelPackage" version="1.0.0" targetFramework="net472" />
  <package id="OxyPlot.Core" version="2.2.0" targetFramework="net472" />
  <package id="OxyPlot.WindowsForms" version="2.2.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" />
  <package id="System.Drawing.Common" version="8.0.4" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net472" />
  <package id="System.IO.Packaging" version="4.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net472" />
</packages>